
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<h2>Облік двигунів</h2>

<p>@Html.ActionLink("Назад", "Index", "Home")</p>

<p>@Html.ActionLink("Облік двигунів: детальна інформація", "ObjectsInfo")</p>
<p>@Html.ActionLink("Облік двигунів за назвою моделі", "EnginesByModelsInfo")</p>