
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h2>Про сайт</h2>

    <p>
        @Html.ActionLink("На головну", "Index", "Home")
    </p>

    <div>
        (текст опису)
    </div>
</body>
</html>
